// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#shop {
  height: 100%;
}

#shop_show {
  height: 100%;

  .other_photos {
    display: flex;
    overflow-x: scroll;
    width: 100%;

    img {
      max-width: 300px;
    }
  }

  .main_details {
    display: flex;
    width: 100%;
  }
}

.all_listings_listing {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.all_page_carousel {
  width: 20%;
}

.single_listing_show {
  height: 100%;
}

.single_listing_carousel {
  width: 40%;
}

.all_listings {
  height: 100%;
  padding-top: 10px;
  margin-left: 25px;
}

.all_details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 450px;
  margin-left: 20px;

  p {
    align-self: flex-start;
  }
}

.carousel_button {
  background-color: white;
  border: 1px solid;
  text-align: center;
  padding: 10px;
  margin-top: -5px;
  cursor: pointer;
}